<div class="container">
  <div class="sidebar">
    <button class="nav-btn"></button>
 </div>
 
 <header class="header">
   <img src="/assets/img/logo.png" alt="Nexter logo" class="header__logo">
   <h3 class="heading-3">Your own home:</h3>
   <h1 class="heading-1">The ultimate personal freedom</h1>
   <button class="btn header__btn">View our properties</button>
   <div class="header__seenon-text">Seen on</div>
   <div class="header__seenon-logos">
      <img src="/assets/img/logo-bbc.png" alt="Seen on logo 1">
      <img src="/assets/img/logo-forbes.png" alt="Seen on logo 2">
      <img src="/assets/img/logo-techcrunch.png" alt="Seen on logo 3">
      <img src="/assets/img/logo-bi.png" alt="Seen on logo 4">
   </div>
 </header>
 
 <div class="realtors">
    <h3 class="heading-3">Top 3 Realtors</h3>
    <div class="realtors__list">
       <img src="/assets/img/realtor-1.jpeg" alt="Realtor 1" class="realtors__img">
       <div class="realtors__details">
          <h4 class="heading-4 heading-4--light">Erik Feiman</h4>
          <p class="realtors__sold">245 houses sold</p>
       </div>
       <img src="/assets/img/realtor-2.jpeg" alt="Realtor 2" class="realtors__img">
       <div class="realtors__details">
        <h4 class="heading-4 heading-4--light">Kim Brown</h4>
        <p class="realtors__sold">212 houses sold</p>
       </div>
       <img src="/assets/img/realtor-3.jpeg" alt="Realtor 3" class="realtors__img">
       <div class="realtors__deatails">
          <h4 class="heading-4 heading-4--light">Toby Ramsey</h4>
          <p class="realtors__sold">198 houses sold</p>
       </div>
    </div>
 </div>
 
 <section class="features">
    <div class="feature">
       <a href="#" class="feature__icon">
          <img src="/assets/img/sphere.svg" alt="icon">
       </a>
       <h4 class="heading-4 heading-4--dark">World's best luxury homes</h4>
       <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.</p>
    </div>
    <div class="feature">
      <a href="#" class="feature__icon">
         <img src="/assets/img/database.svg" alt="icon">
      </a>
      <h4 class="heading-4 heading-4--dark">Only the best properties</h4>
      <p class="feature__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est nam, sapiente deleniti, rem corrupti optio debitis ut odio ipsa recusandae repudiandae voluptatem ullam voluptatum cupiditate obcaecati explicabo vitae non. Nam.</p>
    </div>
    <div class="feature">
      <a href="#" class="feature__icon">
        <img src="/assets/img/location.svg" alt="icon">
      </a>
      <h4 class="heading-4 heading-4--dark">All homes in top locations</h4>
      <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, maiores officia. Nisi vitae enim iusto quidem quo suscipit! Voluptas accusantium qui quo alias hic ex incidunt? Reprehenderit suscipit mollitia nemo.</p>
    </div>
    <div class="feature">
      <a href="#" class="feature__icon">
        <img src="/assets/img/key.svg" alt="icon">
      </a>
      <h4 class="heading-4 heading-4--dark">New home in one week</h4>
      <p class="feature__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi itaque numquam aliquid quas odit ex? Fuga veniam numquam possimus, saepe, laborum nulla cupiditate debitis dolores, harum quam ipsa? In, voluptatem!</p>
    </div>
    <div class="feature">
      <a href="#" class="feature__icon">
       <img src="/assets/img/display.svg" alt="icon">
      </a>
      <h4 class="heading-4 heading-4--dark">World's best luxury homes</h4>
      <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci inventore qui pariatur? Libero optio explicabo voluptatem, eaque rerum dignissimos maiores ex ab, quisquam minus distinctio tempora nesciunt modi, neque id.</p>
    </div>
    <div class="feature">
      <a href="#" class="feature__icon">
        <img src="/assets/img/briefcase.svg" alt="icon">
      </a>
      <h4 class="heading-4 heading-4--dark">Secure payments on nexter</h4>
      <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt officia deserunt distinctio ipsum reiciendis placeat! Sint perspiciatis, temporibus exercitationem vitae officia magnam, blanditiis, consectetur placeat maiores nihil accusamus totam illo!</p>
    </div>
 </section>

 <div class="story__pictures">
   <img src="/assets/img/story-1.jpeg" alt="Couple with new house" class="story__img--1">
   <img src="/assets/img/story-2.jpeg" alt="New house" class="story__img--2">
</div>

<div class="story__content">
  <h3 class="heading-3 mb-sm">Happy Customers</h3>
  <h2 class="heading-2 heading-2--dark mb-md">&ldquo; The best decision of our lives&rdquo;</h2>
  <p class="story__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem minus molestiae nesciunt impedit dicta deleniti explicabo accusamus ab esse corporis nostrum nihil sapiente aut enim beatae, inventore natus nisi tempora.
  </p>
  <button class="btn">Find your own home</button>
</div>

<section class="homes">
  <div class="home">
    <img src="assets/img/house-1.jpeg" alt="House 1" class="home__img">
    <a href="#" class="home__like">
      <img src="/assets/img/heart.svg" alt="heart">
    </a>
    <h5 class="home__name">Beautiful Family House</h5>
    <div class="home__location">
      <img src="/assets/img/location.svg" alt="map">
      <p>USA</p>
    </div>
    <div class="home__rooms">
       <img src="/assets/img/user.svg" alt="user">
       <p>5 rooms</p>
    </div>
    <div class="home__area">
       <img src="/assets/img/network.svg" alt="network">
       <p>325 m<sup>2</sup></p>
    </div>
    <div class="home__price">
       <img src="/assets/img/key.svg" alt="key">
       <p>$1,200,000</p>
    </div>
    <button class="btn home__btn">Contact realtor</button>
  </div>
 
  <div class="home">
    <img src="assets/img/house-2.jpeg" alt="House 2" class="home__img">
    <a href="#" class="home__like">
      <img src="/assets/img/heart.svg" alt="heart">
    </a>
    <h5 class="home__name">Modern Glass Villa</h5>
    <div class="home__location">
      <img src="/assets/img/location.svg" alt="map">
      <p>Canada</p>
    </div>
    <div class="home__rooms">
       <img src="/assets/img/user.svg" alt="user">
       <p>6 rooms</p>
    </div>
    <div class="home__area">
       <img src="/assets/img/network.svg" alt="network">
       <p>450 m<sup>2</sup></p>
    </div>
    <div class="home__price">
       <img src="/assets/img/key.svg" alt="key">
       <p>$2,750,000</p>
    </div>
    <button class="btn home__btn">Contact realtor</button>
  </div>

  <div class="home">
    <img src="assets/img/house-3.jpeg" alt="House 3" class="home__img">
    <a href="#" class="home__like">
      <img src="/assets/img/heart.svg" alt="heart">
    </a>
    <h5 class="home__name">Cozy Country House</h5>
    <div class="home__location">
      <img src="/assets/img/location.svg" alt="map">
      <p>UK</p>
    </div>
    <div class="home__rooms">
       <img src="/assets/img/user.svg" alt="user">
       <p>4 rooms</p>
    </div>
    <div class="home__area">
       <img src="/assets/img/network.svg" alt="network">
       <p>250 m<sup>2</sup></p>
    </div>
    <div class="home__price">
       <img src="/assets/img/key.svg" alt="key">
       <p>$850,000</p>
    </div>
    <button class="btn home__btn">Contact realtor</button>
  </div>

  <div class="home">
    <img src="assets/img/house-4.jpeg" alt="House 4" class="home__img">
    <a href="#" class="home__like">
      <img src="/assets/img/heart.svg" alt="heart">
    </a>
    <h5 class="home__name">Large Rustical Villa</h5>
    <div class="home__location">
      <img src="/assets/img/location.svg" alt="map">
      <p>Portugal</p>
    </div>
    <div class="home__rooms">
       <img src="/assets/img/user.svg" alt="user">
       <p>6 rooms</p>
    </div>
    <div class="home__area">
       <img src="/assets/img/network.svg" alt="network">
       <p>480 m<sup>2</sup></p>
    </div>
    <div class="home__price">
       <img src="/assets/img/key.svg" alt="key">
       <p>$1,950,000</p>
    </div>
    <button class="btn home__btn">Contact realtor</button>
  </div>

  <div class="home">
    <img src="assets/img/house-5.jpeg" alt="House 5" class="home__img">
    <a href="#" class="home__like">
      <img src="/assets/img/heart.svg" alt="heart">
    </a>
    <h5 class="home__name">Majestic Palace House</h5>
    <div class="home__location">
      <img src="/assets/img/location.svg" alt="map">
      <p>Germany</p>
    </div>
    <div class="home__rooms">
       <img src="/assets/img/user.svg" alt="user">
       <p>18 rooms</p>
    </div>
    <div class="home__area">
       <img src="/assets/img/network.svg" alt="network">
       <p>4230 m<sup>2</sup></p>
    </div>
    <div class="home__price">
       <img src="/assets/img/key.svg" alt="key">
       <p>$9,500,000</p>
    </div>
    <button class="btn home__btn">Contact realtor</button>
  </div>

   <div class="home">
    <img src="assets/img/house-6.jpeg" alt="House 6" class="home__img">
    <a href="#" class="home__like">
      <img src="/assets/img/heart.svg" alt="heart">
    </a>
    <h5 class="home__name">Modern Family Apartment</h5>
    <div class="home__location">
      <img src="/assets/img/location.svg" alt="map">
      <p>Italy</p>
    </div>
    <div class="home__rooms">
       <img src="/assets/img/user.svg" alt="user">
       <p>3 rooms</p>
    </div>
    <div class="home__area">
       <img src="/assets/img/network.svg" alt="network">
       <p>180 m<sup>2</sup></p>
    </div>
    <div class="home__price">
       <img src="/assets/img/key.svg" alt="key">
       <p>$600,000</p>
    </div>
    <button class="btn home__btn">Contact realtor</button>
  </div>
</section>

<section class="gallery">
   <figure class="gallery__item gallery__item--1">
    <img src="/assets/img/gal-1.jpeg" alt="Gallery image 1" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--2">
    <img src="/assets/img/gal-2.jpeg" alt="Gallery image 2" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--3">
    <img src="/assets/img/gal-3.jpeg" alt="Gallery image 3" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--4">
    <img src="/assets/img/gal-4.jpeg" alt="Gallery image 4" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--5">
    <img src="/assets/img/gal-5.jpeg" alt="Gallery image 5" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--6">
    <img src="/assets/img/gal-6.jpeg" alt="Gallery image 6" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--7">
    <img src="/assets/img/gal-7.jpeg" alt="Gallery image 7" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--8">
    <img src="/assets/img/gal-8.jpeg" alt="Gallery image 8" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--9">
    <img src="/assets/img/gal-9.jpeg" alt="Gallery image 9" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--10">
    <img src="/assets/img/gal-10.jpeg" alt="Gallery image 10" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--11">
    <img src="/assets/img/gal-11.jpeg" alt="Gallery image 11" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--12">
    <img src="/assets/img/gal-12.jpeg" alt="Gallery image 12" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--13">
    <img src="/assets/img/gal-13.jpeg" alt="Gallery image 13" class="gallery__img">
   </figure>
   <figure class="gallery__item gallery__item--14">
    <img src="/assets/img/gal-14.jpeg" alt="Gallery image 14" class="gallery__img">
   </figure>
</section>

<footer class="footer">
   <ul class="nav">
      <li class="nav__item"><a href="#" class="nav__link">Find your dream home</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Request proposal</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Download home planner</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Submit your property</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Come work with us!</a></li>
   </ul>
   <p class="copyright">
     &copy; Copyright 20202 by nexter project management. Feel free to use this project for your own 
     purposes. This does NOT apply if you plan to produce your own course or tutorials based on this 
     project.
   </p>
</footer>
</div>
